list style.css


.skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
}

.skip-link:focus{
  width: unset;
  height: unset;
  position: relative;
  padding: unset;
  margin: unset;
  font-size: 2rem;
}

.anchor-nav {
	display: flex;
	position: sticky;
	top: 10px;
	justify-content: space-evenly;
	width: 80%;
	background-color: teal;
	margin: auto;
	padding: 0.5rem;
	color: #FFE3AA;
	text-transform: uppercase;
	border-radius: 1rem;

}

.anchor-nav a {
	color: #ffe3aa;
}



.red-trees {
	background-image: url("../img/starfield-red-trees.png") ;
}

h1 {
	display: flex;
	justify-content: center;
	font-family: "Yuji Syuku", serif;
	font-size: 2rem;
	color: whitesmoke;
	text-shadow: #e64400 1px 0 10px;
/*	text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;*/

}

.list48 h1{
	color:#434343;
	text-shadow: #220a00 1px 0 2px;
	text-transform: uppercase;
}


p {
	font-family: "IBM Plex Sans", serif;
}

.intro-text {
	margin: 1rem;
	margin-top: 2rem;
	padding: 1rem;
/*	background-color: rgba(0,162,230,0.3);*/
	background-color: rgba(191,236,255, 0.4);
	border-radius: 10px;


}




body {
	background-color: whitesmoke;
	overflow: scroll; /* Show scrollbars */
}


.gallery-body {

	background-color: aliceblue;
}








nav ul li a:visited {
	text-decoration: none;
	color: forestgreen;
}

nav ul li a:hover button{
	text-decoration: ;
	color: lightpink;
	background-color: floralwhite;
}

nav ul li:hover {
	background-color: floralwhite;
}


nav {

	background-color: ;
	max-width: 800px;
	margin: auto;
	font-size: 1rem;
	border-radius: 0.2rem;
	text-transform: uppercase;
}





nav ul {
	display: flex;
	align-content: stretch;
	flex-direction: row;
	justify-content: center;
	margin-block-start: 0em;
	padding-inline-start: 0px;
	
}



nav ul li {

	background-color: whitesmoke;
	flex-flow: row wrap;
	align-items: stretch;
	list-style-type: none;
	padding: 0.3rem;
	margin: 0.1rem;
	max-width: 100%;
	border-radius: 0.5rem;
	border: 1px solid	rgba(0,162,230,0.5);
	border: 5px solid	rgba(230,68,0,0.5);

}



nav ul li a {
	font-family: 'Solway', serif;
/*	font-family: "Pixelify Sans", sans-serif;*/
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;

	text-decoration: none;
	color: rgba(230,68,0,0.5);
}




nav ul li a button {
	font-family: 'Solway', serif;
	max-width: 100%;
	color: rgba(230,68,0,0.5);
/*	border: 1px solid	rgba(0,162,230,0.5);*/
/*	border: 5px solid	rgba(230,68,0,0.5);*/
	border: none;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
	font-size: 1rem;
	background-color: whitesmoke;
}


