<style>
nav {

  background-color: ;
  max-width: 800px;
  margin: auto;
  font-size: 1rem;
  border-radius: 0.2rem;
  text-transform: uppercase;
/*  margin-right:1rem;*/
}

nav ul {
  display: flex;
/*  flex-direction: row-reverse;*/
/*  align-items: stretch;*/
  flex-direction: row;
  justify-content: space-between;
  margin-block-start: 0em;
  padding-inline-start: 0px;
/*  justify-content: right;*/
/*  margin-left: 1rem;*/

  
}

nav ul li {

  background-color: whitesmoke;
/*  flex-flow: row wrap;*/
/*  align-items: stretch;*/
  list-style-type: none;
  padding: 0.3rem;
  margin: 0.1rem;
  max-width: 100%;
  border-radius: 0.5rem;
/*  border: 1px solid rgba(127,255,0,0.5);*/
border: 1px solid rgba(0,162,230,0.5);
  border: 5px solid rgba(230,68,0,0.5);
}

nav ul li a {
  font-family: 'Solway', serif;
/*  font-family: "Pixelify Sans", sans-serif;*/
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;

  text-decoration: none;
  color: rgba(230,68,0,0.5);
}

body {
      margin: 0;
      height: 100%;
      display: flex;
      justify-content: center;  
      align-items: center;      
      font-family: 'Sigmar One', serif; 
      background-color: LightCyan; 
    }

    header {
      text-align: center; 
      font-size: 6rem;   
      color: DarkCyan;
    }

 body {
      margin: 0;
      height: 100%;
      display: flex;
      justify-content: center;  
      align-items: center;     
      font-family: 'Gravitas One', serif; 
      background-color: LightCyan;  
    }

h1 {
  display: flex;
  justify-content: center;
  font-family: 'Thasadith' sans-serif;
  font-size: 2rem;
  color: darkorchid;
  text-shadow: #e64400 1px 0 10px;

    selector {
  background-color: AliceBlue;
  }

  img {
    width: 400px;
    height:400px;
  }

</ style>