<style>

body {
      margin: 0;
      height: 100%;
      display: flex;
      justify-content: center;  
      align-items: center;      
      font-family: 'Sigmar One', serif; 
      background-color: LightCyan; 
    }

    header {
      text-align: center; 
      font-size: 6rem;   
      color: DarkCyan;
    }

 body {
      margin: 0;
      height: 100%;
      display: flex;
      justify-content: center;  
      align-items: center;     
      font-family: 'Gravitas One', serif; 
      background-color: LightCyan;  
    }

nav {
  display: flex;
  justify-content: center;
  font-family: 'Calibri', sans-serif;
  font-size: 2rem;
  color: hotpink;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: 'Calibri', sans-serif;
  font-size: 2rem;
  color: darkorchid;

    selector {
  background-color: AliceBlue;
  }

  img {
    width: 300px;
    height:400px;
  }

</ style>