<style>
body {
      margin: 0;
      height: 100%;
      display: flex;
      justify-content: center;  
      align-items: center;      
      font-family: 'Sigmar One', serif; 
      background-color: LightCyan; 
    }

    header {
      text-align: center; 
      font-size: 6rem;   
      color: DarkCyan;
    }

 body {
      margin: 0;
      height: 100%;
      display: flex;
      justify-content: center;  
      align-items: center;     
      font-family: 'Gravitas One', serif; 
      background-color: LightCyan;  
    }

    h1 {
      text-align: center;
      font-size: 3rem;  
      color: LavenderBlush;      
    }
     .center-text {
      text-align: center; 
    }

    selector {
  background-color: AliceBlue;
  }

  img {
    width: 400px;
    height:200px;
  }

</ style>